.container{
    height: 100vh;
    background-color: red;
    color: white;
}
.email{
    margin-right: '2rem';
    background-color: white;
    border-radius: '10px' !important;
    
}
.cards{
    display: flex;
    overflow-x: auto;
    
}
.cards::-webkit-scrollbar{
    display: none;
}
.grid{
    overflow-y: auto;
}
.grid::-webkit-scrollbar{
    display: none;
}
.reviews{
    display: flex;
    flex-wrap: wrap;
    
}
.similarMovies{
    display: flex;
    flex-wrap: wrap;
    
}


